#indexnav{
    height: 4.21875rem;
    ul{
        display:flex;flex-wrap:wrap;height: 100%;
        li{
            width: 20%;height: 50%;
            img{
                width: 100%;height: 100%;
            }
        }
    }
}