.box{
    display:flex;
    height:100%;
    flex-direction:column;
}
.box>.home_cont{
    flex:1;
    overflow-x: hidden;
}
.box>.home_nav{
    height:1.328125rem;
    line-height:1.328125rem;
    text-align:center;
    background:#ccc;
}