html,body{height:100%;width:100%;}
.indent{
	height:100%;display:flex;flex-direction: column;
	.indent_header{
		height:1.68rem;display:flex;align-items:center;border:1px solid #ccc;background:#F3F5F6;
		.back{display:block;height:1.25rem;width:1.5rem;font-size:0.78125rem;line-height:1.25rem;text-align:center;}
		.headTitle{text-align:center;flex:1;font-size:0.53125rem;}
	}
	.indent_nav{
		height:1.333333rem;
		.nav_ul{
			height:1.333333rem;display:flex;align-item:center;
			li{flex:1;font-size:0.4375rem;text-align:center;line-height:1.333333rem;color:#000;font-weight:bolder;}
		}
	}
	.indent_main{
		flex:1;background:#F3F5F6;display:flex;flex-direction:column;align-items:center;padding-top:2.666667rem;
		.icon_side{
			height:1.946667rem;width:1.946667rem;background:#D7D8DA;display:flex;justify-content:center;align-items:center;border-radius:50%;
			.icon{font-size:100px;color:#73B9FF;line-height:1.946667rem;}
		}
		p{color:#999999;font-size:0.40625rem;padding-top:0.533333rem;}
	}
}