.operate{
        padding:10px 20px;
    .btn{
        width: 60px;height: 40px;padding:6px 12px;display: inline-block;margin-right: 10px;
        color:#fff;cursor:pointer;border-radius:2px;font-size: 20px;

        &.btnAdd{
            background-color: #007bff;border:1px solid #007bff;
        }
        &.btnCheck{
            background-color: #28a745;border:1px solid #28a745;
        }
    }
}