html,body{height:100%;width:100%;}
.mine{
	display:flex;height:100%;flex-direction: column;
	.mine_header{
		height:3.733333rem ;background: #2E3137;display:flex;padding-top:1.333333rem;position:relative;
		i{position:absolute;top:0.346667rem;right:0.506667rem;color:#fff;font-size:.78125rem;height:0.8rem;}
		.user_infor{
			display:1.733333rem;display:flex;width:6.666667rem;
			.headimg{
				height:1.733333rem;padding-left:0.533333rem;
				img{height:1.733333rem;width:1.733333rem;background:#fff;border-radius:50%;border:0.066667rem solid #585B5F;}
			}
			.username{
				height:1.733333rem;color:#fff;display:flex;flex-direction:column;justify-content:center;padding-left:0.293333rem;
				.nikename{flex:1;font-size:.4375rem;line-height:0.866667rem;}
				.user_level{flex:1;font-size:.34375rem;line-height:0.866667rem;}
			}
		}
		.logout_btn{color:#fff;font-size:.4375rem;text-align:center;height:0.933333rem;line-height:0.933333rem;}
	}
	.mine_indent{
		height:4.0rem;display:flex;flex-direction:column;padding-left:0.32rem;border-bottom:20px solid #ccc;
		.indent_top{
			height:1.333333rem;display:flex;justify-content:space-between;border-bottom:.015625rem solid #F3F5F6;
			h3{height:1.266667rem;line-height:1.266667rem;font-size:.46875rem;}
			.indent_btn{height:1.266667rem;line-height:1.266667rem;font-size:.40625rem;color:#A5A5A5;padding-right: 0.346667rem;}
		}	
		.indent_bottom{
			flex:1;display:flex;justify-content:space-around;padding-top:0.453333rem;
			li{
				font-size:.40625rem;display:flex;flex-direction:column;
				i{font-size:.78125rem;height:0.666667rem;text-align:center;margin-bottom:0.346667rem;}
			}
		}
	}
	.mine_main{
		height:4.266667rem;
		.main_ul{
			height:4.266667rem;display:flex;flex-wrap:wrap;justify-content:space-around;
			li{
				display:flex;flex-direction:column;height:2.666667rem;font-size:.40625rem;width:2.0rem;text-align:center;line-height:2.666667rem;margin:0.266667rem;
				i{font-size:.9375rem;height:0.933333rem;}
			}
		}
	}
}