html,body{height:100%;width:100%;}
.login{
	height:100%;display:flex;flex-direction: column;
	.login_header{
		display:flex;height:1.25rem;flex-direction:row;background:#666666;justify-content:space-between;color:#fff;align-content:center;
		.back{display:block;height:1.25rem;width:1.5rem;font-size:0.78125rem;line-height:1.25rem;text-align:center;color:#fff;}
		.headTitle{font-size:0.4375rem;line-height:1.25rem;}
		.navBar{display:block;height:1.25rem;width:1.5rem;font-size:0.78125rem;line-height:1.25rem;text-align:center;}
	}
	.login_main{
		display:flex;flex:1;flex-direction:column;
		.login_select{
			color:#fff;height:2.0rem;display:flex;justify-content:center;align-items:center;
			p{color:#626365;justify-content::space-around;width:4.1875rem;line-height:0.8rem;font-size:0.4375rem;text-align:center;height:0.8rem;}
		}
		.login_content{
			display:flex;flex-direction:column;margin:0.3125rem auto 0;flex:1;
			.content_account{
				display:flex;flex-direction:column;position:relative;
				.user_account{
					width:8.3125rem;margin-bottom:1.25rem;height:1.3125rem;
					i{font-size:1.09375rem;position:absolute;height:0.9375rem;top:0.09375rem;left:0.34375rem;}
					input{height:1.3125rem;width:8.3125rem;padding-left:1.5625rem;font-size:0.4375rem;border:1px solid #626365;border-radius:15px;}
				}
				.pwd_account{
					width:8.3125rem;margin-bottom:1.25rem;height:1.3125rem;
					i{font-size:1.09375rem;position:absolute;height:0.9375rem;top:2.6875rem;left:0.34375rem;}
					input{height:1.3125rem;width:8.3125rem;padding-left:1.5625rem;font-size:0.4375rem;border:1px solid #626365;border-radius:15px;}
				}
				.verify_account{
					width:8.3125rem;display:flex;height:1.3125rem;
					.yzminput{
						width:3.1875rem;
						input{height:1.3125rem;width:100%;padding-left:0.3125rem;font-size:0.4375rem;border:1px solid #626365;border-radius:15px;}
						p{height:0.533333rem;color:#f00;}
					}
					.yzmimg{
						width:5.0625rem;display:flex;justify-content:space-between;
						.codeimg{width:2.8125rem;height:1.25rem;background: #9326FF;color:#fff;margin-left:0.625rem;font-size:0.78125rem;text-align:center;line-height:1.25rem;border-radius:0.625rem;}
						.change{color:#626365;line-height:1.25rem;text-align:center;}
					}
				}
				.login_btn1{height:1.0625rem;background: #3F89EC;display:block;height:1.0625rem;line-height:1.0625rem;text-align:center;color:#fff;margin:0.9375rem 0;}
				.serve_account{
					flex:1;display:flex;justify-content:space-between;
					a{font-size:0.4375rem;color:#626365;text-decoration:underline;}
				}
			}
			.content_phone{
				display:flex;flex-direction:column;position:relative;flex:1;
				.user_phone{
					width:8.3125rem;margin-bottom:1.25rem;height:1.3125rem;
					i{font-size:1.09375rem;position:absolute;height:0.9375rem;top:0.09375rem;left:0.34375rem;}
					input{height:1.3125rem;width:8.3125rem;padding-left:1.5625rem;font-size:0.4375rem;border:1px solid #626365;border-radius:15px;}
					p{height:0.533333rem;color:#f00;text-align:right;}
				}
				.verify_phone{
					width:8.3125rem;display:flex;height:1.3125rem;margin-bottom:1.25rem;
					.yzminput{
						width:3.1875rem;
						input{height:1.3125rem;width:100%;padding-left:0.3125rem;font-size:0.4375rem;border:1px solid #626365;border-radius:15px;}
						p{height:0.533333rem;color:#f00;}
					}
					.yzmimg{
						width:5.0625rem;display:flex;justify-content:space-between;
						.codeimg{width:2.8125rem;height:1.25rem;background: #9326FF;color:#fff;margin-left:0.625rem;font-size:0.78125rem;text-align:center;line-height:1.25rem;border-radius:0.625rem;}
						.change{color:#626365;line-height:1.25rem;text-align:center;}
					}
				}
				.identify_phone{
					height:1.3125rem;display:flex;justify-content:space-between;width:100%;
					.security_code{width:3.93rem;font-size:0.4375rem;padding-left:0.3125rem;border:1px solid #626365;border-radius:15px;}
					.getjym{height:1.25rem;width:3.125rem;background: #DF3832;border-radius:0.15625rem 0.15625rem;color:#fff;line-height:1.25rem;text-align:center;font-size:0.40625rem;}
				}
				.login_btn2{height:1.0625rem;background: #3F89EC;display:block;height:1.0625rem;line-height:1.0625rem;text-align:center;color:#fff;margin:0.9375rem 0;}
				.serve_phone{
					flex:1;display:flex;justify-content:space-between;
					a{font-size:0.4375rem;color:#626365;text-decoration:underline;}
				}
			}
		}
	}
	.shade{
		height:100%;width:100%;position:fixed;background-color:rgba(000,000,000,0.2);z-index:10;
		.warning{
			position:fixed;
			top: 50%;
    		left: 50%;
    		height:2.40625rem;
    		width:7.1875rem;
    		z-index:20;
    		background: #000;
    		opacity: .8;
    		color:#fff;
    		transform: translate(-50%, -80%);
    		border-radius:10px;
    		display:flex;flex-direction:column;
    		.tip_text{height:1.25rem;line-height:1.25rem;text-align:center;border-bottom:4px solid #4D4D4D;}
			.tip_btn{flex:1;text-align:center;line-height:1.15625rem;font-size:0.40625rem;}
		}
	}
}