.hyz_list{
    height: 100%;display:flex;flex-direction:column;
    font-size: 0.375rem;
    .listHeader{
        height: 1.25rem;position: relative;
        border-bottom: 1px solid #ccc;
        line-height: 1.25rem;
        i,h3,span{
            height: 1.25rem;text-align: center;
        }
        i{
            position: absolute;top:.484375rem;left:.3125rem;
            a{
                width: .3125rem;height:.3125rem;
            }
        }
        span{
            position: absolute;top:4px;right: 20px;
        }
    }
    .listNav{
        width: 100%;
        height: 1.25rem;
        line-height: 1.25rem;
        border-bottom: 1px solid #ccc;
        ul{
            width: 100%;
            li{
                text-align: center;
                float: left;
                width: 25%;  
                height: 1.25rem;
                // justify-content: space-around; 
            }
        }     
    }
    .listGoods{
        width: 100%;
        ul{
            width: 100%;
            // display: flex;
            // flex-direction: row;
            li{
                height: 4.375rem;
                border-bottom: 1px solid #ccc;
                padding: .2125rem;
                img{
                    width: 40%;
                    margin-right:20px;
                    float: left;
                }
                .goodsName{
                    height:1.5625rem;
                    color:#000;
                }
                .price{
                    color:red;
                    font-size: .46875rem;
                }
                p{
                    color:#333;
                    height: .625rem;
                    padding:.08625rem 0rem;
                    span{
                        padding:5px 60px 5px 0px;
                    }
                }
            }
        }
    }
    .toTop{
        height: .9375rem;
        width: 1.5625rem;
        position: fixed;right:.625rem;
        bottom: 2.34375rem;
        background: red;
        span{
            line-height: .9375rem;
        }
    
    }

}