li{list-style: none;}
.col{
    color:#333;
}
.active{
    color:red;
}
.datagrid{
    width: 100%;float: left;font-size: 0.375rem;
    padding: .15625rem;
    .swiper-container{
        height:3.75rem;
        overflow: hidden;
        img{
            height:3.75rem;
            width: 7.2rem;
        }
    }
    .hostBrand{
        margin-top: .15625rem;
        width: 100%;
        .brand{
            height:0.7rem;
            line-height: 0.7rem;
            background: #eee;
            border-left:.15625rem solid #f90;
            padding-left:.15625rem;
            color:blue;
        }
        .allBrand{
            flex-direction:row;
            li{

                text-align: center;
                flex-direction: column;
                display: flex;
                width: 33%;
                height: 1.7rem;
                float: left;
                // flex-wrap:wrap;
                justify-content: space-around;
                img{
                    height: 1.2rem;
                    width: 1.2rem;
                    margin: 0 auto;
                }
                a{
                    color:#000;
                }
             
                
                
            }
        }
        
    }
    .address{
        height:2.5rem;
        .addressSpan{
            height:0.7rem;
            line-height: 0.7rem;
            background: #eee;
            border-left:.15625rem solid #f90;
            padding-left:.15625rem;
            color:blue;            
        }
        .allAddress{
            padding:.15625rem 0;
            flex-direction: row;
            li{
                text-align: center;
                flex-direction: column;
                display: flex;
                height: 0.5rem;
                justify-content: space-around;                
                width: 33%;
                float: left;
                a{
                    color:#000;
                }
            }
        }

    }
    .price{
        height: 2rem;
        .priceSpan{
            height:0.7rem;
            line-height: 0.7rem;
            background: #eee;
            border-left:.15625rem solid #f90;
            padding-left:.15625rem;
        }
    }
}