.community{
    height:100%;
    display:flex;
    flex-direction:column;
}

.c_header{
    height:1.25rem;  /*80px*/
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:#FAFAFA;
    padding:0 0.3125rem;  
}

.c_header span:nth-child(1){
    width:0.9375rem;/*60*/
    height:0.9375rem;/*60*/
    background:#EDEDED;
    border-radius:50%;
    color:#D0D0D0;
    font-size:0.28125rem;/*18*/
    text-align:center;
    display:flex;
    flex-direction:column;
    padding-top:0.046875rem;/*3*/
}
.c_header span:nth-child(1) i{
    font-size:0.40625rem;/*26*/
}
.sp2{
    font-size:0.71875rem;/*46*/
}






/*.c_tab{
    height:100px;
    background:#EDEDED;
    display:flex;
    justify-content:center;
}
.c_tab>span{
    display:block;
    font-size:38px;
    color:#252525;
    height:100%;
    line-height:100px;
    border-bottom:3px solid #000000;
    padding:0 10px;
}*/





.c_container{
    flex:1;
    background:#F4F5F7;
    height:100%;
    display:flex;
    flex-direction:column;
    padding:0 0.3125rem;  /*0  20*/
}
.c_box{
    margin-top:0.3125rem;/*20*/
    background:#fff;
}
.c_box .username{
    height:1.25rem;/*80*/
    line-height:1.25rem;/*80*/
    padding-left:1.15625rem;/*74*/
    position:relative;
}


.c_box img{
    width:100%;
}
.c_box .username{
    height:1.25rem;/*80*/
    line-height:1.25rem;/*80*/
    padding-left:1.15625rem;/*74*/
    position:relative;
}
.c_box .username i{
    position:absolute;left:0.21875rem;top:0.21875rem;/*14*/
    display:block;width:0.84375rem;height:0.84375rem;/*54*/
    border-radius:50%;
    background:url('../../img/tx.jpg') no-repeat;
    background-size:cover;
}
.c_box .username span{
    position:absolute;right:0;top:0;
}
.c_box h6{
    height:0.625rem;line-height:0.625rem;/*40*/
    font-size:0.375rem;/*24*/
    text-indent:0.3125rem;/*20*/
    border-left:#FC595A 0.046875rem solid;/*3*/
}
.c_box p{
    padding:0 0.3125rem; /*0 20*/
    line-height:0.625rem;/*40*/
}
.c_box .type{
    color:#E56365;
    height:0.9375rem;/*60*/
    line-height:0.9375rem;/*60*/
    padding-left:0.9375rem;/*60*/
    position:relative;
}
.c_box .type i{
    position:absolute;left:0.21875rem;top:0.21875rem;/*14*/
    display:block;
    width:0.5625rem;height:0.5625rem;/*36*/
    background:url('../../img/sqqq.jpg') no-repeat;
    background-size:cover;
}

.showComponent{
    height:320px;
}


