.hyz_goodslist>.search{height: 1rem;text-align: center;position: relative;padding-top: 0.1rem;}
.hyz_goodslist>.search>input{width:90%;height: 1rem;font-size: 0.5rem;padding-left: 8%;background: #eee;border: 0px;}
.hyz_goodslist>.search>.fa-search{position: absolute;left:6%;top:20%;bottom:0;font-size: 0.6rem;}
.hyz_nav{width: 15%;text-align: center;}