.clearfix::after{
    content:"";
    display: block;
    height: 0;
    clear:both;
    overflow:hidden;
    visibility:hidden;
    /*兼容ie*/
   zoom:1;
}

.hyz_goodslist{
    height: 100%;display:flex;flex-direction:column;
    .active{
        background: #fff;
    }
    .search{
        height: 1rem;text-align: center;position: relative;padding: 0.1rem 0rem;border-bottom:1px solid #ccc;opacity: .4;
        input{
            width:90%;height: 0.8rem;font-size: 0.4rem;padding-left: 8%;background: #efefef;border: 0px;cursor: pointer;
        }
        .fa-search{
            position: absolute;left:6%;top:22%;bottom:0;font-size: 0.5rem;
        }
    }
    .goodslist{
<<<<<<< HEAD
        height:15.7875rem;
        .hyz_nav{
            width: 20%;text-align: center;background: #eee;float: left;
=======
        flex:1;display:flex;
        justify-content:space-between;
        .hyz_nav{
            width:20%;text-align: center;background: #eee;opacity: .5;font-weight:bold;float: left;height:100%;
>>>>>>> 986ced3ab8bd1877260f9670139dd8e9ca393818
            ul{
                li{
                    height:1rem;line-height: 1rem;
                    a{
<<<<<<< HEAD
                        width: 100%;
                        height:100%;
                        display: block;
                        color:#000;
=======
                        color:#333;
                    }
                    .active{
                        color:red;
                        text-decoration:none;
>>>>>>> 986ced3ab8bd1877260f9670139dd8e9ca393818
                    }
                }
            }
        }
        .goodslist_cont{
            width: 75%;float: left;height:100%;
        }
        
    }
    

    
    
    
}

