.nnav{
    height:1.328125rem;
    background:#ccc;
}
.nnav ul{
    /* border-top:.03125rem solid #999999; */
    padding-top: .046875rem;
    display:flex;
}
.nnav ul li{
    flex:1;
    height:1.328125rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.nnav ul li a{
    color:#333;
    display:block;
    font-size:.3125rem;
    height:100%;
    width: 100%;
    line-height:.78125rem;
}
.nnav ul li a i{
    display:block;
    font-size:.78125rem;
    height:.5625rem;
    line-height:.78125rem;
}
.nnav ul li a:hover{
    color:red;
}
.nnav ul li a i:hover{
    color:red;
}
/*.nnav ul li div{
    color:#A3A3A3;
    display:block;
    font-size:20px;
    height:36px;
    line-height:36px;
}*/
.nnav>ul>li>.fa{
    font-size:.78125rem;
    display:block;
}
