.nnav{
    height:1.328125rem;
    background:#ccc;
}
.nnav ul{
<<<<<<< HEAD
    /* border-top:.03125rem solid #999999; */
    padding-top: .046875rem;
=======
    border-top:0.03125rem solid #999999;
    padding-top: 0.046875rem;
>>>>>>> 986ced3ab8bd1877260f9670139dd8e9ca393818
    display:flex;
}
.nnav ul li{
    flex:1;
    height:1.328125rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.nnav ul li a{
    color:#333;
    display:block;
<<<<<<< HEAD
    font-size:.3125rem;
    height:100%;
    width: 100%;
    line-height:.78125rem;
}
.nnav ul li a i{
    display:block;
    font-size:.78125rem;
    height:.5625rem;
    line-height:.78125rem;
=======
    font-size:0.3125rem;
    height:100%;
    width: 100%;
    line-height:0.78125rem;
}
.nnav ul li a i{
    display:block;
    font-size:0.78125rem;
    height:0.5625rem;
    line-height:0.78125rem;
>>>>>>> 986ced3ab8bd1877260f9670139dd8e9ca393818
}
.nnav ul li a:hover{
    color:red;
}
.nnav ul li a i:hover{
    color:red;
}
/*.nnav ul li div{
    color:#A3A3A3;
    display:block;
    font-size:20px;
    height:36px;
    line-height:36px;
}*/
.nnav>ul>li>.fa{
<<<<<<< HEAD
    font-size:.78125rem;
=======
    font-size:0.78125rem;
>>>>>>> 986ced3ab8bd1877260f9670139dd8e9ca393818
    display:block;
    text-decoration:none;
}
.nnav>ul>li i{
    text-decoration:none;
}
.nnav .active{
    text-decoration:none;
}
.nnav .sy{
    text-decoration:none;
}
